/*
--body-bg-color: #121214;
--text-color: #E1E1E6;
--title-color: #04D361;
--form-color: #A8A8A8;
--bg-button-color: #8257e5;
*/




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Spartan;   
   }

   html{
        height: 100vh;
        background-image: url(../assets/read_news2.jpeg);
        background-repeat:no-repeat;
        background-size: contain;   
        background-position: 60vh;   
   }


   body{
    background-color: #000000;
    height: 100vh;
    width: 55%;
   }


  .imglogo{
      margin-left: 30px;
      padding-top: 50px;
  }

  h1{
      color:#04D361 ;
      margin-left: 30px;
      padding-top: 90px;
  }

  h3{
      color: #e1e1e6;
      margin-left: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  p{
      color: #e1e1e6;
      margin-left: 30px;
  }

  #pemail{
      color: #A8A8A8;
      margin-top: 30px;
      margin-bottom: 20px;
      font-weight: 600;
  }

  form{
      display: flex;
  }

  input{
    border-left:5px solid #04D361;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    width:80%;
    height: 48px;
    background-color: #E1E1E6;
    margin-left: 30px;   
}


button{
    height: 38,px;
    border: 0;
    background-color:#8257e5 ;
    width: 48px;
    cursor: pointer;    
}

a{
    color: #8257e5;
    display: flex;
    margin-left: 30px;
    margin-top: 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;  
    width: fit-content;
    
}

#seta{
  
    padding-left: 20px;
    
}








  

 